# coding: utf-8

"""
    Read-only API стриминга

    Получение ссылок на файловые ресурсы для стиминга  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from streaming_api.api_client import ApiClient


class FileLocationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_file_location_api_v1_add_file_location_post(self, body, **kwargs):  # noqa: E501
        """Добавление информации о местонахождении файла  # noqa: E501

        Добавление информации о местонахождении файла  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_file_location_api_v1_add_file_location_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MediaLocation body: (required)
        :return: Object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_file_location_api_v1_add_file_location_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.add_file_location_api_v1_add_file_location_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def add_file_location_api_v1_add_file_location_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Добавление информации о местонахождении файла  # noqa: E501

        Добавление информации о местонахождении файла  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_file_location_api_v1_add_file_location_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MediaLocation body: (required)
        :return: Object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_file_location_api_v1_add_file_location_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `add_file_location_api_v1_add_file_location_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/add_file_location', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_streaming_url_streaming_api_api_v1_get_streaming_url_post(self, media_id, **kwargs):  # noqa: E501
        """Добавление информации о местонахождении файла  # noqa: E501

        Добавление информации о местонахождении файла  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_streaming_url_streaming_api_api_v1_get_streaming_url_post(media_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str media_id: (required)
        :param str jwt_token:
        :param str x_real_ip:
        :return: Object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_streaming_url_streaming_api_api_v1_get_streaming_url_post_with_http_info(media_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_streaming_url_streaming_api_api_v1_get_streaming_url_post_with_http_info(media_id, **kwargs)  # noqa: E501
            return data

    def get_streaming_url_streaming_api_api_v1_get_streaming_url_post_with_http_info(self, media_id, **kwargs):  # noqa: E501
        """Добавление информации о местонахождении файла  # noqa: E501

        Добавление информации о местонахождении файла  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_streaming_url_streaming_api_api_v1_get_streaming_url_post_with_http_info(media_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str media_id: (required)
        :param str jwt_token:
        :param str x_real_ip:
        :return: Object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['media_id', 'jwt_token', 'x_real_ip']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_streaming_url_streaming_api_api_v1_get_streaming_url_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'media_id' is set
        if ('media_id' not in params or
                params['media_id'] is None):
            raise ValueError("Missing the required parameter `media_id` when calling `get_streaming_url_streaming_api_api_v1_get_streaming_url_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'media_id' in params:
            query_params.append(('media_id', params['media_id']))  # noqa: E501

        header_params = {}
        if 'jwt_token' in params:
            header_params['jwt_token'] = params['jwt_token']  # noqa: E501
        if 'x_real_ip' in params:
            header_params['X-Real-IP'] = params['x_real_ip']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/streaming_api/api/v1/get_streaming_url', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
